* {
  box-sizing: border-box;
}

body {
  /* height: 675px; */
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  text-align: center;
}

/* The animation code */
@keyframes playerWins {
    0%   {color: red;}
    16.65%  {color: orange;}
    33.3%  {color: yellow;}
    50%  {color: blue;}
    66.6%  {color: green;}
    83.25%  {color: indigo;}
    100% {color: violet;}
}

/* The element to apply the animation to */
.winning_secret {
    margin-top: 5px;
    padding: 5px;
    height: 50px;
    font-size: 1.5rem;
    color: red;
    animation-name: playerWins;
    animation-duration: 1s;
    /* animation-direction: alternate; */
    animation-iteration-count: 5;
}
.winning_text {
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
  margin-top: 10px;
  padding: 5px;
}

.losing_secret_num {
  color: red;
}

/* .winning_secret {
  /* border: 5px solid blue; */
  margin-top: 5px;
  padding: 5px;
  height: 25px;
  font-size: 1.5rem;
  color: blue;
} */

#playAgain {
  margin-top: 50px;
}

.number {
  width: 5rem;
}

.hidden {
  display: none;
}

button {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  background: transparent;
}

input {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

.score {
  /* border: 3px solid red; */
  max-height: 359px;
  margin-top: 10px;
  font-size: 1.25rem;
  overflow: scroll;
}

footer {
  position: fixed; 
  bottom:0%;
  margin-right: 0%;
  font-size: .5rem;
}



/* Do stuff for mobile (outside any media queries) */
/* @media only screen and (min-width : 768px) {
  font-size: 1.25rem;
                /* Do stuff for vertical tablet */
 /*} */

/* input {
  focus on input for each guess
} */