* {
  box-sizing: border-box;
}

/* div {
  border: 3px solid red;
} */

body {
  /* height: 675px; */
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  text-align: center;
}

.text {
  font-size: .75rem;
  margin-top: 10px;
  padding: 5px;
}

.losing_secret_num {
  color: red;
}

.winning_secret {
  /* border: 5px solid blue; */
  margin-top: 5px;
  padding: 5px;
  height: 25px;
  font-size: 1.5rem;
  color: blue;
}

#playAgain {
  margin-top: 50px;
}

.number {
  width: 5rem;
}

.hidden {
  display: none;
}

button {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  background: transparent;
}

input {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

.score {
  /* border: 3px solid red; */
  max-height: 359px;
  margin-top: 10px;
  font-size: 1.5rem;
  overflow: scroll;
}

footer {
  position: fixed; 
  bottom:0%;
  margin-right: 0%;
  font-size: .5rem;
}



/* Do stuff for mobile (outside any media queries) */
/* @media only screen and (min-width : 768px) {
  font-size: 1.25rem;
                /* Do stuff for vertical tablet */
 /*} */

/* input {
  focus on input for each guess
} */